body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.done {
  text-decoration: line-through;
}

.adding-form {
  margin-bottom: 1rem;
}

.adding-form-input {
  margin-right: 1rem;
}

.rm-btn {
  border-radius: 50%;
  outline: 2px solid red;
  border-width: 0;
}

/* Loader */

@keyframes ldio-l7vihtcccgi {
  0% { background: #f8b26a }
  12.5% { background: #f8b26a }
  12.625% { background: #e15b64 }
  100% { background: #e15b64 }
}
.ldio-l7vihtcccgi div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e15b64;
  animation: ldio-l7vihtcccgi 1s linear infinite;
}
.loadingio-spinner-blocks-zpgajdsxv9b {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-l7vihtcccgi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-l7vihtcccgi div { box-sizing: content-box; }

/*  */